// .fit-infinite-slider {
//   width: 769px;
// }  

// @media (max-width: 970px) {
//   .fit-infinite-slider {
//     width: 100%;
//   }  
// }

// @media (max-width: 768px) {
//   .fit-infinite-slider {
//     width: 100%;
//   }  
// }


.input-required::after {
  content:' *';
  color: red;
  font-size: 15px;  
}