// .fit-infinite-slider {
//   width: 769px;
// }  

// @media (max-width: 970px) {
//   .fit-infinite-slider {
//     width: 100%;
//   }  
// }

// @media (max-width: 768px) {
//   .fit-infinite-slider {
//     width: 100%;
//   }  
// }


.input-required::after {
  content:' *';
  color: red;
  font-size: 15px;  
}

.only-print {
  // visibility: hidden;
  display: none;
  // height:0;
  // position: absolute;
  // pointer-events: none;
}

// @media print {
//   .only-print {
//     visibility: visible !important;
//     height:auto !important;
//     position: static !important;
//     pointer-events: auto !important;
//   }
// }

.page-break {
  page-break-before: always;
  break-before: page;
}