.dashboard-modal-title {
  font-size:18px !important;
}
.login-dropdown-icon {
  width: 30px;
  text-align: left;
  font-size: 12px;
}
.modal-detail-info {
  &.modal-backdrop{
    &.show {
      opacity: 0.1 !important;
    }
  }
}

.modalheader{
  &.modal-update-user-company,
  &.modal-update-jenis,
  &.modal-update-profile,
  &.modal-create-user,
  &.modal-change-password,
  &.modal-header-global
  {
      &.create{
        background:darkseagreen;
      }
      
      &.edit {
        background:cadetblue;
      }

      &.detail {
        background:lightseagreen;
      }

      
  }
  .dashboard-modal-title {
      color:lightyellow;
      text-shadow: 1px 2px 5px black;

      svg {
          color:lightyellow;
          filter: drop-shadow(1px 2px 3px green);
      }
  }
}

.dash-modal-form-label {
  font-size:13px;
  font-family: sans-serif, Arial, Helvetica;
  font-weight: 600;

  &.required::after {
      content:' *';
      color: red;
      
  }
}

.modal-input-placeholder {
  &::placeholder{
    font-size:13px;
    top:50%;
    transform: translateY(-50%);
    position: absolute;
    font-weight: 400;
  }
}

.ppe-modal-label-active-check {
  font-size: 14px;
  font-style: italic;
  font-weight: 400;
  font-family: sans-serif;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.modal-detailinfo-container {
  font-family: FF_Din_Font;
  font-weight: 600;
  font-size: 17px;
}